{% extends 'base.html.twig' %}

{% block body %}
    <h2>Trips listing...</h2>.

    <table>
        <thead>
            <td>name/link</td>
            <td>file</td>
        </thead>
    {% for trip in trips %}
            <tr>
                <td><a href="{{ path('trip_show', {'slug': trip.id}) }}">{{ trip.name }}</a></td>
                <td><a href="{{ asset('xml/trips/') ~ trip.xmlName }}" target="_blank">{{ trip.xmlName }}</a></td>
            </tr>
    {% endfor %}
    </table>

{% endblock %}
