{% extends 'base.html.twig' %}

{% block body %}
    <h2>Trips listing 666...</h2>.

    <table>
        <thead>
            <td>name</td>
            <td>file</td>
            <td>date</td>
        </thead>
    {% for trip in trips %}
            <tr>
                <td><a href="{{ path('trip_show', {'slug': trip.id}) }}">{{ trip.name }}</a></td>
                <td><a href="{{ asset('xml/trips/') ~ trip.imageName }}" target="_blank">{{ trip.imageName }}</a></td>
                <td>some date...</td>
            </tr>
    {% endfor %}
    </table>

{% endblock %}
